Checks: >
  *,
  readability-identifier-length,
  readability-inconsistent-declaration-parameter-name,
  readability-named-parameter,
  -altera-unroll-loops,
  -bugprone-easily-swappable-parameters,
  -fuchsia-default-arguments-declarations,
  -fuchsia-overloaded-operator,
  -google-readability-braces-around-statements,
  -google-runtime-int,
  -hicpp-braces-around-statements,
  -llvmlibc-callee-namespace,
  -llvmlibc-implementation-in-namespace,
  -llvmlibc-restrict-system-libc-headers,
  -readability-avoid-const-params-in-decls,
  -readability-braces-around-statements,
  -readability-const-return-type,
  -fuchsia-default-arguments-calls,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -hicpp-exception-baseclass,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -misc-non-private-member-variables-in-classes,
  -hicpp-use-nullptr,
  -modernize-use-nullptr,
  -altera-struct-pack-align,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -performance-avoid-endl,

CheckOptions:
  - key: readability-identifier-length.MinimumParameterNameLength
    value: "3"
  - key: readability-identifier-length.MinimumVariableNameLength
    value: "3"
  - key: readability-identifier-length.MinimumLoopCounterNameLength
    value: "3"
  - key: readability-identifier-length.MinimumExceptionNameLength
    value: "3"
